.all-buttons {
    text-align: center;
}

.accordion-sn, .accordion-m, .accordion-ab, .accordion-hl, .accordion-c {
  cursor: pointer;
}

.intro {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
  background-color: white;
  opacity: .8;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  text-shadow: 4px 4px 4px #aaa;
  font-family: Roboto;
}

.got-it {
  cursor: pointer;
}

button {
  padding: 8px;
  padding-right: 23px;
  font-size: 1.8em;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  border: solid 1px #777;
  text-indent: 18px;
  background-color: #fff;
  font-family: Roboto;
  text-shadow: 4px 4px 4px #aaa;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    width: 25%;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: auto;
    background-color: white;
    display: none;
    opacity: .8;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    text-shadow: 4px 4px 4px #aaa;
    font-family: Roboto;
}

ul {
  width: 75%;
  text-align: center;
}

ul, li{
    list-style-type: none;
}

li {
  display: inline-block;
}

body {
    background: url("https://static1.squarespace.com/static/52ddfde3e4b0c593abb98f50/t/52df7561e4b0bd4ef9c6ccd8/1425055220355/beer+sampler.2.jpg?format=2500w") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*backgrounds for each beer on click*/

/*.bg{
    background-image: url("https://static1.squarespace.com/static/52ddfde3e4b0c593abb98f50/t/52df7561e4b0bd4ef9c6ccd8/1425055220355/beer+sampler.2.jpg?format=2500w");
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.sn-bg {
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ab-bg {
    background: url("./img/budweiser.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hl-bg {
    background: url("https://www.picclickimg.com/00/s/MTQwN1gxMTgx/z/eikAAOSwal5YEV1d/$/Highland-Brewing-Co-Thunderstruck-Beer-Tap-Handle-_57.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.c-bg {
    background: url("./img/coors.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.m-bg {
    background: url("http://www.adweek.com/agencyspy/wp-content/uploads/sites/7/2016/02/miller-lite-can-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*backgrounds for buttons*/

.active.accordion-sn {
    background-color: green;
}

.active.accordion-ab {
    background-color: red;
}

.active.accordion-hl {
    background-color: brown;
}

.active.accordion-c {
    background-color: grey;
}

.active.accordion-m {
    background-color: gold;
}

footer {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 12px;
    font-color: white;
    background-color: white;
    opacity: .6;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

@media only screen and (max-width: 640px) {
  .panel {
    width: 25%;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: auto;
  }

  ul {
    width: 75%;
    text-align: center;
  }

  li {
    /*display: inline-block;*/
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .panel {
    width: 25%;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: auto;
  }
}

/*@media only screen and (max-width: 640px) {
  .bg {
      background-repeat: no-repeat;
      background-repeat: no-repeat;
  }

  .sn-bg {
      background-image: url("./img/budweiser-mobile.jpg");
      background-repeat: no-repeat;
  }

  .ab-bg {
      background-image: url("http://wallpapersdsc.net/wp-content/uploads/2016/09/Budweiser-Images.jpg");
      background-repeat: no-repeat;
  }

  .hl-bg {
      background-image: url("https://www.picclickimg.com/00/s/MTQwN1gxMTgx/z/eikAAOSwal5YEV1d/$/Highland-Brewing-Co-Thunderstruck-Beer-Tap-Handle-_57.jpg");
      background-repeat: no-repeat;
  }

  .c-bg {
      background-image: url("./img/coors-mobile.jpg");
      background-repeat: no-repeat;
  }

  .m-bg {
      background-image: url("http://www.adweek.com/agencyspy/wp-content/uploads/sites/7/2016/02/miller-lite-can-2.jpg");
      background-repeat: no-repeat;
  }
}*/
